name: Build Info

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du dépôt
        uses: actions/checkout@v3

      - name: Créer le fichier build_info.txt
        run: date > build_info.txt

      - name: Upload de l'artefact
        uses: actions/upload-artifact@v4
        with:
          name: build-info
          path: build_info.txt
